<% incorporatelude partials/header %>

<% include partials/navbar %>


<div class="bg"></div>
<div class="jumbotron">

<h2 class="fade-in one"> Innovative Blockchain </h2>
<h2 class="fade-in one"> Solutions For Security </h2>

<h7 class="fade-in two"> Learn more about how you can incorporate blockchain <h7>

<div>
<button type="button" class="btn btn-primary fade-in three">Get Started</button>
</div>

</div>

<% include partials/footer %>
