<% include partials/header %>

<h1> Add a New Player </h1>

<form action="/player" method="POST">
	<input type="text" name="name" placeholder="Player Name">
	<input type="text" name="imageURL" placeholder="Image URL">
	<button>Add</button>
</form>

<% include partials/footer %>
